@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WorkSans";
  src: url("../assets/fonts/static/WorkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "WorkSans";
  src: url("../assets/fonts/static/WorkSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "WorkSans";
  src: url("../assets/fonts/static/WorkSans-Bold.ttf");
  font-weight: 700;
}

@layer base {
  html,
  body {
    font-family: "WorkSans", system-ui, sans-serif;
    font-size: 16px;
  }
  h1,
  h2 {
    color: theme("colors.DarkPurple");
  }
  body {
    background-color: theme("colors.LightPink");
  }

  .accordion__wrapper:last-of-type  {
        border-bottom: 0;
        padding-bottom: 0;
  }
  .accordion__content P {
    color: theme("colors.GrayishPurple");
  }
  .accordion__content {
    overflow: hidden;
    max-height: 0px;
    position: relative;
    transition: max-height 0.2s linear;
  }
 
}
